@charset "UTF-8";

* {
    text-decoration: none;
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(#ECF39E, #90A955, #65943c, #3f6e39, #204320);
    text-align: center;
}
img {
    border-radius: 500px;
    box-shadow: rgba(0, 0, 0, 0.61) 1px 1px 30px;
    border: solid rgb(26, 62, 23) 2px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #09140b;
    text-shadow: #a6ff8b 1px 1px 1px;
}

p {
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(181, 253, 192);
    background-color: #132A13;
    width: 300px;
    padding: 15px 20px;
    border-radius: 50px;
    margin: 35px auto;
    text-decoration: none;
    transition-duration: 0.5s;
}

p:hover {
    color: #285127;
    text-decoration: none;
}

p:hover {
    background-color: #ECF39E;
    text-decoration: none;
}

h3 {
    color: #ECF39E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}